@import './checkbox';

[v-cloak] {
    display: none;
}

.link {
    cursor: pointer;
}

.m-b-50 {
    margin-bottom: 50px;
}

.m-t-20 {
    margin-top: 20px;
}

// input multi-locale
.input-box {
    position: relative;
}

.toggle-locale {
    position: absolute;
    z-index: 5;
    top: 0;
    right: 1px;
    opacity: 0.3;

    &:hover {
        opacity: 1;
    }

    &::after {
        display: none !important;
    }

    select {
        font-weight: bold;
        padding: 0.4rem 0.5rem 0.5rem !important;
        text-transform: capitalize;
        border: none;
        background-color: transparent;
    }
}

.toggle-pad {
    padding-right: 32px;
}

// animation
.slide-up-enter-active,
.slide-up-leave-active {
    transition: all 0.3s ease;
}

.slide-up-enter,
.slide-up-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}

// editor
.box {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 6px 20px rgba(black, 0.08);

    &:hover {
        transform: translateY(-0.7rem);
        box-shadow: 0 15px 30px 0 rgba(black, 0.11), 0 5px 15px 0 rgba(black, 0.08);
    }

    &::before {
        font-size: 8rem;
        position: absolute;
        top: 50%;
        right: -5%;
        content: attr(data-order);
        transform: translateY(-50%);
        color: rgba(black, 0.05);
    }
}

.tag-ops {
    width: 100%;
    text-align: right;
}

.tag-list {
    margin: 0;
}

.tag-item {
    position: relative;

    &:not(:first-of-type) {
        padding-top: 5px;
    }

    &::before {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        content: attr(data-lang);
        cursor: default;
        text-transform: capitalize;
        opacity: 0.5;
    }
}

.tag-input {
    font-size: 1rem;
    line-height: 1;
    width: calc(100% - 0.7rem);
    height: 100%;
    margin-left: 0.7rem;
    padding: 0.5rem;
    border: none;
    border-left: 5px solid #edf2f3;
    background-color: #f9fbfb;

    &:focus,
    &:active,
    &:hover {
        border-left-color: darken(#edf2f3, 20%);
    }
}
